*,*::before,::after{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background-color: hsl(218, 23%, 16%);
}
.container{
    background-color: hsl(217, 19%, 24%);
    position: relative;
    margin: 50px auto;
    width:300px;
    border: 1px solid hsl(217, 19%, 24%) ;
    height: auto;
    padding: 15px;
    border-radius:  15px
    
}
.id{
    text-align: center;
    color: hsl(150, 100%, 66%);
    margin-bottom: 50px;
}
.advice{
    color:  hsl(193, 38%, 86%);
    font-size: 28px ;
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
    text-align: center;
}
.drawn{
    margin:  40px 0;
    width: auto;
    height: 18px;
    background: url(./images/pattern-divider-mobile.svg) center center no-repeat;

}
.drawn img{
    width: 100%;
}
button{
    display: block;
    margin-left:  auto;
    margin-right: auto;
    margin-bottom: -45px;
    background-color: hsl(150, 100%, 66%);
    padding: 15px;
    border-radius: 50%;
    border: none;
}
button:hover{
    box-shadow:  0 0  20px 0px hsl(150, 100%, 66%);
}
@media only screen and (min-width: 1000px ){
    .container{
        width:500px;
    }
    .drawn{
        background: url(./images/pattern-divider-desktop.svg) center center no-repeat;
    }
    
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }